{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="flex h-screen ">
    <div class="w-2/5  content-center bg-cover opacity-75 bg-no-repeat bg-[url(https://i.pinimg.com/originals/f0/c6/ca/f0c6cac86c1f1b870b390dc4eb4a06a5.gif)]">
        <div class="mx-auto max-w-lg text-center">
          <h1 class="text-5xl font-bold text-white pb-3">Connectez-vous pour créer des articles !</h1>
      
          <p class="mt-4 text-gray-500 font-bold text-white">
            Un site fascinant qui explore les liens profonds entre le corps humain et 
            l'océan, dévoilant comment les déséquilibres marins affectent notre santé et nous invitent à repenser notre relation 
            avec la planète.
          </p>
        </div>
    </div>
<div class=" mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8 content-center">
<div class="mx-auto max-w-lg text-center">
  <h1 class="text-5xl font-bold px-40 text-cyan-800 pb-3">Connexion</h1>
</div>

<form  method="post" class="mx-auto mb-0 mt-8 max-w-md space-y-4">
    {% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

{% if app.user %}
    <div class="mb-3">
        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
    </div>
{% endif %}
  <div>
    <label for="email" class="sr-only">Email</label>

    <div class="relative">
      <input
      name="email"
        type="email"
        class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm focus:outline-none focus:ring focus:border-cyan-900"
        placeholder="Entrez votre email"
      />

      <span class="absolute inset-y-0 end-0 grid place-content-center px-4">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="size-4 text-gray-400"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"
          />
        </svg>
      </span>
    </div>
  </div>

  <div>
    <label for="password" class="sr-only">Password</label>

    <div class="relative">
      <input
      name="password"
        type="password"
        class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm focus:outline-none focus:ring focus:border-cyan-900"
        placeholder="Entez votre mot de passe"
      />

      <span class="absolute inset-y-0 end-0 grid place-content-center px-4">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="size-4 text-gray-400"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
          />
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
          />
        </svg>
      </span>
    </div>
  </div>

  <div class="flex items-center justify-between">
    <p class="text-sm text-cyan-700">
      Pas de compte ?
      <a class="underline" href="{{path('app_register')}}">S'inscrire</a>
    </p>

    <button
      type="submit"
      class="inline-block rounded-lg bg-cyan-400 px-5 py-3 text-sm font-bold text-white"
    >
      Se connecter
    </button>
  </div>
  <input type="hidden" name="_csrf_token"
       value="{{ csrf_token('authenticate') }}"
>
</form>
    </div>
    
</div>


{% endblock %}




