{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<section class="">
  <div class="mx-auto max-w-screen-2xl px-4 py-12 lg:px-8 lg:py-16">
    <div class=" flex">
      <div class="mr-44">
        <h2 class="text-4xl font-bold text-cyan-700">
          Vagues et Veines
        </h2>

        <p class="mt-6 leading-relaxed text-gray-700 text-justify">
          Vagues et Veines est un blog qui explore les parallèles fascinants entre les systèmes humains et les écosystèmes océaniques.
          À travers des articles captivants, il révèle comment chaque partie du corps humain trouve un écho dans les mécanismes de l'océan, 
          du flux sanguin aux courants marins. Les articles illustrent les bénéfices d'un bon fonctionnement, 
          tout en mettant en lumière les conséquences des dysfonctionnements, que ce soit dans le corps humain ou dans l'océan. 
          Un véritable voyage entre science et poésie, ce blog invite à réfléchir sur l'interconnexion entre la santé du corps et celle de la planète.
        </p>

      </div>

      <img src="https://img.freepik.com/premium-photo/human-body-water-background-with-70-percent-liquid-sign-health-hydration_1014870-63569.jpg" 
      class="w-64 ">

    </div>

    <div class="mt-4">
    <h1 class="text-2xl text-cyan-700">Les 3 derniers articles</h1>

    <div class="mx-auto container grid grid-cols-3 gap-6 mt-10  ">

      {% for article in articles %}
    
      <article class="w-full rounded-xl bg-cyan-400 p-0.5 shadow-xl transition hover:bg-cyan-600 ">
          <div>
              <div class="rounded-[10px] bg-white p-5 !pt-4">
                  <time datetime="2022-10-10" class="block text-xs text-gray-500">Crée le :{{ article.dateCreation ?
                      article.dateCreation|date('Y-m-d') : '' }} </time>
                  
                      <h3 class="mt-0.5 text-lg font-medium text-gray-900">
                          {{ article.titre }}
                      </h3>
                      <p class="text-sm line-clamp-3">
                          {{ article.description }}
                      </p>
                      <p class="block text-xs text-gray-500 mt-2">Ecrit par: {{article.user.name}}</p>
              </div>
              <div class="mt-4 flex flex-wrap gap-1 pb-4 pl-4">
                  <a href="{{path('app_article_show',{id:article.id})}}"
                  class="whitespace-nowrap rounded-lg bg-green-200 px-2.5 text-xs text-green-800 mr-3 pt-2 pb-2 hover:scale-110">
                   Voir plus ->
              </a>
              
              </div>
          </div>
      </article>
      {% endfor %}
      
    </div>

    <a
    href="{{ app.user ? path('app_article_tous') : path('app_login') }}"
    class="mt-6 inline-flex items-center gap-2 rounded-full border border-cyan-400 px-5 py-3 text-cyan-600 transition hover:bg-cyan-400 
    hover:text-white"
  >


    <span class="font-medium"> Tous les articles </span>

    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="size-4 rtl:rotate-180"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M14 5l7 7m0 0l-7 7m7-7H3"
      />
    </svg>
  </a>
    </div>
  </div>
</section>

{% endblock %}
